@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
hr{
  width: 5%; 
   margin: 0 auto;
   border-width: 0.5em;
   border-radius: 2em;
   margin-top: 1rem;
   background-color: black;
   height: 10px;
   border: none;
}